body {
    background-color: rgba(210, 15, 64, 0.588);
}

h5 {
    color: rgb(8, 40, 99);
    background-color: rgb(154, 200, 218);
    border-style: dashed;
    text-align: center;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}

#red {
    color: red;
}


ul>li {
    color:rgb(112, 154, 14);
}
