body {
    background-color: rgba(210, 15, 64, 0.588);
}

h1 {
    color: rgb(8, 40, 99);
    background-color: rgb(165, 39, 39);
}


a {
    text-decoration: none;
}

#red {
    color: red;
}

.uppercase {
    text-transform: uppercase;
}

ul>li {
    color:rgb(84, 14, 196);
}
/*figure {
    float: center;
    width: 70% ;
    height: 80%;
    text-align: right;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }*/
  img.scaled {
    width: 100%;
    align-content: center;
  }